.footer-block{
    background-color: #ffc2c2;
    padding: 50px 0;
}

.footer-brand{
    width: 180px;
}

.footer-title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
}

.footer-list p{
    margin:5px;
    text-transform: capitalize;
    font-weight: 500;
}

.footer-list ul{
    margin: 0;
    padding: 0;
}

.footer-list ul li{
    list-style: none;
}
.footer-list ul li a{
    color: black;
    line-height: 30px;
}
.footer-list ul li a:hover{
    color: #ff0000;
    transition: 0.2s;
}

.copyright-text{
    color: #002366;
    margin-bottom: 0;
}


.developer{
    color: #002366;
    font-weight: 500;
}
.developer:hover{
    color: #002366 !important;
    text-decoration: underline;
    font-weight: 500;
}



/* Google Map Css */
.mapouter{
    position:relative;
    text-align:right;
    height:220px;
    width:100%;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:220px;
    width:100%;}